html {
    font-family: Helvetica;
    text-align: center;
}

li {
    font-size: 18px;
    color: white;
}

.title {
    font-size: 70px;
    font-weight: bold;
    color: white;
    background-image: url ("#";)
}

a {
    font-size: 18px;
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.newyorkheader {
    color: white;
}
